@use "../../base";

.landingPageContainer {
  display: grid;
  grid-template-columns: 0fr 10fr 0fr;
  grid-template-rows: 1fr 9fr 1fr;
  height: 95dvh;
}

.pageFooter {
  grid-row: 3;
  grid-column: 2;
  background-color: base.$peach;
  height: 100%;
  width: 100%;
}

