@use "../../../base.scss";

.toolBar {
  position: absolute;
  z-index: 9;
  bottom: 12%;
  height: 90dvh;
  width: 100dvw;
  left: 0%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.formToggleButton {
  background-color: base.$peach;
  padding:1em;
  height:20vw;
  width: 20vw;
  border-radius: 50%;
}