@use "../../base.scss";

.feedingformBackDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90dvh;
  width: auto;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 5;
  // -webkit-backdrop-filter: blur(5px);
  // backdrop-filter: blur(5px);
}

.feedingFormContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: base.$tiffany-blue;
  padding: 1.1em;
  border-radius: 1em;
  border: solid base.$platinum;
}

.addFeedingForm {
  width: auto;
  background-color: base.$wheat;
  border: 0.5em solid base.$peach;
  border-radius: 1em;
  padding: 1em 0em 1em 0em;
  font-family: "Playwrite US Modern", cursive;
  line-height: 1.5em;
}

.formFieldSet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
  border-bottom: solid 1px;
  color: base.$jet;
}

.textAreaFieldSet {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border: none;
  border-bottom: solid 1px;
  color: base.$jet;
}

.radioFieldSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-bottom: solid 1px;
}

.radioButtons {
  justify-content: flex;
  flex-direction: row;
  margin-top: 1em;
}

.medicationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addFeedingFormButtons {
  display: flex;
  justify-content: space-evenly;
  border: none;
}

.addFeedingFormButton {
  color: base.$jet;
  background-color: base.$peach;
}

.feedingFormTitle {
  font-family: "Playwrite US Modern", cursive;
  place-self: center;
  color: base.$jet;
  padding-bottom: 0.5em;
}

.closeFeedingFormButton {
  position: relative;
  top: 0%;
  left: 95%;
  width: fit-content;
  height: auto;
  color: base.$jet;
  background-color: rgba(255, 255, 255, 0);
}
