
.formContainer{
    position: absolute;
    top:14%;
    left:0%;
    right:0%;
    height: 70%;
    width:auto;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    padding:1.1em;
    border-radius: 1em;
    border: 2vw solid rgb(205, 255, 255);
}

.addCatForm{
    width:auto;
    height: 90%;
    background-color:  rgb(206, 255, 244);
    border: 0.5em solid teal;
    border-radius: 1em;
    padding: 1em 0em 1em 0em;
}

.closeFormButton{
    position:absolute;
    top:1%;
    left:90%;
}

.fieldset{
    display:flex;
    flex-direction: column;
    margin:1em 0px 1em 0px;
    border-radius: 1em;
}

.label{
    margin: 0.5em 0px 0.5em 0px;
}


.formButtons{
    display: flex;
    justify-content: space-around;
}