.displayCardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  background-color: rgb(227, 255, 255);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: inset 0px -10px 10px 0px wheat;
}

.cardHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.catDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  border: solid wheat;
  border-radius: 1em;
  color: teal;
  padding:1em;
}

.catCardPhoto {
  width: 30vw;
  height: 30vw;
  border: solid 0.4em wheat;
  outline: solid 0.2em teal;
  border-radius: 50%;
  margin-bottom: 1em;
}

.catName {
  color: wheat;
  font-size: 5vw;
}

.tabMenuContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  padding: 1em 1em 1em 1em;
  color:wheat;
  box-shadow: 0px 5px 5px 0px rgb(100, 90, 77);
  margin-bottom: 1em;
  font-family: "Playwrite US Modern", cursive;
  border-radius: 1em;
}

.tabButton{
  background-color: teal;
  color:wheat;
}

.downChevron, .minimiseIcon{
  width:1em;
  height:1em;
  color:wheat ;

}