@use "../../base.scss";

.navBarContainer {
  height: 5dvh;
  background-color: base.$tiffany-blue;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.navLinksContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navLink {
  color: base.$jet;
  font-weight: 800;
}
