@use "../../base.scss";

.footerPanel {
  background-color: base.$tiffany-blue;
  grid-column: 2;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  height: 10dvh;
  justify-content: space-around;
  align-items: center;
}

.footerButton {
  background-color: base.$peach;
  color: base.$wheat;
}