.homepageContainer {
  display: grid;
  grid-template-columns: 0fr 10fr 0fr;
  grid-template-rows: 1fr 0.5fr 3fr 6fr 1fr;
  height: 95vh;
}

.pageTitle {
  height:100%;
  place-self: center;
  align-content: center;
  width:100%;
  background-color: teal;
  color: wheat;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin:0px;
}

.welcomeMessage {
  color:black;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.toggleButtons {
  position: absolute;
  bottom:0%;
  background-color: teal;
  width: 100%;
  grid-column: 2;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.toggleButton {
  background-color: wheat;
  color: teal;
  height:50%;
}

.addFeedFormContainer {
  grid-column: 2;
  grid-row: 4;
  margin: 1em;
}

.userCatsTab{
  display:flex;
  justify-content: space-around;
  align-items: center;
  grid-row:3;
  grid-column: 2;
  border:solid teal;
  border-radius: 1em;

}
.catDp{
  display: flex;
  flex-direction: column;
  height:100%;
}
img{
  border:solid;
  border-radius: 50%;
  min-height:25vw;
  min-width:25vw;
}

.lastFeedTable {
  border-radius: 1em;
  overflow: auto;
  grid-column: 2;
  grid-row: 4;
  width: 100%;
  border: 4px solid teal;
  white-space: nowrap;
  border-spacing: 0;
  text-align: center;
  box-shadow: 1px 5px 15px 0px rgb(100, 90, 77);
  margin-bottom: 2em;
}

.columnTitle{
  background-color: teal;
  color:wheat;
  border-top-width: 0;
  border-left-width: 0;
  position: sticky;
  top: 0;
  vertical-align: bottom;
  padding:1em 0em 1em 0em;
}

.columnTitle:last-child {
  border-right-width: 0;
}

.tableRows:last-child td {
  border-bottom-width: 0;
}
